<!-- Login Form -->

<div class="container">
  <div class="row">
    <br>
    <br>
    <div class="col m6 offset-m3 form-style">
      <div class="row">
        <div class="col s10 offset-s1">
          <h5 class="center">Login Helpers</h5>
          <p>This application is in an alpha state.  To make the exploration process easier below are login credentials for a general student account and for a general teacher account.</p>
          <div class="center student-account">
            <p>Student account email: <b>GA@student.com</b><br>Student account password: <b>GAisnum1</b></p>
          </div>
          <div class="center teacher-account">
            <p>Teacher account email: <b>GA@teacher.com</b><br>Teacher account password: Password: <b>GAisnum1</b></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1">
          <h4><b>LOGIN</b></h4>
          <br class="col m4 offset-m4">
          <%= form_for @student, url: "/sessions", method: "post" do |f| %>
          <%= f.email_field :email, placeholder: "Email", class:"form-control" %>
          <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
          <div class="row">
            <div class="center">
              <%= f.submit "Log In", class: "waves-effect waves-light btn form-button green-submit-style" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
