<div class="parallax-container">
   <div id="parallax"></div>
 </div>

<h2 class="center site-title">TASC: Teachers And Students Connecting</h2>


<!-- <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>     -->
