<div class="container">
  <h5>Feedback for <%= link_to "#{@feedback}", feedbacks_path %></h5>
  <div class="row">
    <div class="col s11">
      <h6>Feedback:</h6>
      <hr>
      <%= @feedback.content %>
    </div>
    <div class="col s1">
      <h6>score</h6>
      <hr>
      <span class="right"><%= @feedback.score %></span>
    </div>
  </div>
</div>
