<h1>About</h1>

<div class="row">
  <div class="col12">
  <div class="col l3 m6 s12 mike">

    <img src="/mike.jpeg" alt="">
    <p>CSS, Bootstrap, Angular, Ruby on Rails, Node.js, API creation and API integration). My web development experience includes solo work, working with teams of engineers on the same project, and working in conjunction with designers.

      My history has also given me considerable experience as an agile project manager (specifically with SCRUM methodologies) with a focus of deliveries on time and on budget. This includes experience managing many projects at the same time, experience managing teams at different sites (different time zones and different countries including language barriers), and regular experience working on every stage from inception until post launch support.</p>

  </div>
</div>
</div>
