<h4 class="center">About the TASC Team</h4>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col l3 m6 s12 hover-pic">
        <img src="/mike.jpeg" alt="" class="about-pic">
        <div>
          <p>CSS, Bootstrap, Angular, Ruby on Rails, Node.js, API creation and API integration). My web development experience includes solo work, working with teams of engineers on the same project, and working in conjunction with designers.</p>
            <p>My history has also given me considerable experience as an agile project manager (specifically with SCRUM methodologies) with a focus of deliveries on time and on budget. This includes experience managing many projects at the same time, experience managing teams at different sites (different time zones and different countries including language barriers), and regular experience working on every stage from inception until post launch support.</p>

        </div>
      </div>
      <div class="col l3 offset-l6 m6 s12 hover-pic">
        <img src="/ricardo.jpeg" alt="" class="about-pic right">
        <div class="">
          <p>Full Stack Web Developer with a strong design engineer background. Over 16 years of experience working with 3D mechanical software, designing aerospace and medical parts as well as leading piping engineering projects for the oil & gas industry. Passionate about design and creation, I am always seeking out ways to further develop my skill-set.</p>

            <p>Experience working in Mexico, USA (Houston, Cleveland, Tulsa) and Europe (Czech Republic)</p>

            <p>Proficient in Piping Softwares: MicroStation, AutoCAD and 3D Piping Design and Equipment Design Modules, Smart Plant 3D, PDS.</p>

            <p>Proficient in Mechanical Softwares: Catia, Unigraphics, Pro/E, PowerMill, PowerShape, Inventor, Mechanical Desktop.</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col l3 m6 s12 hover-pic">
        <img src="/ld.jpeg" alt="" class="about-pic">
        <div>
          <p>Why hello! I am a web developer who specializes in front-end with a keen eye for design and passion for seamless user experience. With a decade of experience as a music producer, engineer and studio tech, working with rotating teams of inspired people and troubleshooting technical issues are strengths I bring to my current development work. Learn a little more about me below and say hello! </p>
          <p>Languages: HTML5, CSS, JavaScript</p>
          <p>Frameworks: Node.js, Express</p>
          <p>Databases: MongoDB<p>
          <p>Technologies: Bootstrap, Heroku, GitHub/Git, jQuery<p>

          <p>GitHub: https://github.com/vedelopment<p>

          <p>About my music industry experience:<p>

          <p>Please refer to my website www.ledrecording.com for all inquiries!<p>

          <p>I am a freelance Producer, Engineer and Musician based in the San Francisco Bay Area specializing in classical, experimental, rock, indie rock and punk. I work out of commercial studios primarily, and am available to travel to your favorite studio to record you anywhere in the world. Celebrating my 10th year as a professional in this field in 2015, I have recorded a host of incredible talents including Kronos Quartet, Angélique Kidjo, Ciara, John Vanderslice, Secret Chiefs 3, Amanda Palmer, Dead Kennedys, Salman Rushdie, St. Vincent, and Mars Volta to name a few.<p>

          <p>Outside of the studio I am on the Board of Governors for the Recording Academy SF Chapter, have taught audio classes and workshops at Women’s Audio Mission and do small and large-scale wiring installations and upgrades for many of the studios I regularly work at. I can sometimes be found designing custom gear controllers and if you’ve ever seen a duck hunt talkback gun in a control room in the bay area, I am responsible.<p>
        </div>
      </div>
      <div class="col l3 offset-l6 m6 s12 hover-pic">
        <img src="/rj.jpeg" alt="" class="about-pic right">
        <div>
          <p>Click to edit summaryA tenacious programmer with a keen eye for writing efficient and elegant javascript, a tireless and enthusiastic passion for solving problems, and an obsession with detail. An entrepreneur at heart, constantly looking to make the world better, more efficient, and full of joy.</p>

          <p>Skills:</p>
          <p>- Javascript</p>
          <p>- JQuery</p>
          <p>- Angular</p>
          <p>- Node.js</p>
          <p>- MongoDB</p>
          <p>- Mongoose</p>
          <p>- Express</p>
        </div>
      </div>
    </div>
  </div>
</div>
