<h4 class="center">About TASC</h4>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col l3 m6 s12 hover-pic">
        <img src="/mike.jpeg" alt="" class="about-pic">
        <p>CSS, Bootstrap, Angular, Ruby on Rails, Node.js, API creation and API integration). My web development experience includes solo work, working with teams of engineers on the same project, and working in conjunction with designers.
          My history has also given me considerable experience as an agile project manager (specifically with SCRUM methodologies) with a focus of deliveries on time and on budget. This includes experience managing many projects at the same time, experience managing teams at different sites (different time zones and different countries including language barriers), and regular experience working on every stage from inception until post launch support.</p>
      </div>
      <div class="col l3 offset-l6 m6 s12 hover-pic">
        <img src="/ricardo.jpeg" alt="" class="about-pic right">
        <p>Full Stack Web Developer with a strong design engineer background. Over 16 years of experience working with 3D mechanical software, designing aerospace and medical parts as well as leading piping engineering projects for the oil & gas industry. Passionate about design and creation, I am always seeking out ways to further develop my skill-set.

Experience working in Mexico, USA (Houston, Cleveland, Tulsa) and Europe (Czech Republic)

Proficient in Piping Softwares: MicroStation, AutoCAD and 3D Piping Design and Equipment Design Modules, Smart Plant 3D, PDS.

Proficient in Mechanical Softwares: Catia, Unigraphics, Pro/E, PowerMill, PowerShape, Inventor, Mechanical Desktop.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col l3 m6 s12 hover-pic">
        <img src="/ld.jpeg" alt="" class="about-pic">
        <p>Why hello! I am a web developer who specializes in front-end with a keen eye for design and passion for seamless user experience. With a decade of experience as a music producer, engineer and studio tech, working with rotating teams of inspired people and troubleshooting technical issues are strengths I bring to my current development work. Learn a little more about me below and say hello! </p>
      </div>
      <div class="col l3 offset-l6 m6 s12 hover-pic">
        <img src="/rj.jpeg" alt="" class="about-pic right">
        <p>Click to edit summaryA tenacious programmer with a keen eye for writing efficient and elegant javascript, a tireless and enthusiastic passion for solving problems, and an obsession with detail. An entrepreneur at heart, constantly looking to make the world better, more efficient, and full of joy.

Skills:
- Javascript
- JQuery
- Angular
- Node.js
- MongoDB
- Mongoose
- Express</p>
      </div>
    </div>
  </div>
</div>
