<div class="assignments">
<h4 class="center">Discover TASC</h4>

<div class="dev-about center">
  <h6>TASC is a comprehensive Ruby on Rails communication tool for teachers and students. Unlike bloated software currently on the market, TASC is simple to use, and user friendly, without sacrificing important and necessary functionality. The
  development of TASC is ongoing, and the TASC team hopes to market test it later this year.</h6>
</div>
<br>
<br>

<div class="center">
  <div class="dev-bio-text assignments">
    <img src="/mike.jpeg" alt="" class="about-pic">
    <div>
      <h5>Michael Blair</h5>
      <h6><a href="https://www.mblairdesign.com">Portfolio</a></h6>
      <h6><a href="https://github.com/mblair415">GitHub</a></h6>
      <br>
      <h6><b>Bio:</b></h6>
      <p>My history has also given me considerable experience as an agile project manager (specifically with SCRUM methodologies) with a focus of deliveries on time and on budget. This includes experience managing many projects at the same time, experience managing teams at different sites (different time zones and different countries including language barriers), and regular experience working on every stage from inception until post launch support.</p>
      <br>
      <h6><b>Technologies:</b></h6>
      <p>CSS, Bootstrap, Angular, Ruby on Rails, Node.js, API creation and API integration). My web development experience includes solo work, working with teams of engineers on the same project, and working in conjunction with designers.</p>
    </div>
  </div>
  <div class="dev-bio-text assignments">
    <img src="/ricardo.jpeg" alt="" class="about-pic">
    <div>
      <h5>Ricardo Arellano</h5>
      <h6><a href="http://ricardoare.com/">Portfolio</a></h6>
      <h6><a href="https://github.com/ricarellano">GitHub</a></h6>
      <br>
      <h6><b>Bio:</b></h6>
      <p>I am a Full Stack, Web developer who loves to design and create new things. I have a background in mechanical 3D design, that combined with my coding skills, lets me understand the complete process in the creation of a product. I love being challenged and I think that one of my biggest skills is my capacity to analyze a problem from different perspectives, helping companies understand their product in a richer way.</p>
    </div>
  </div>


  <div class="dev-bio-text assignments">
    <img src="/ld.jpeg" alt="" class="about-pic">
    <div>
      <h5>LD Dean</h5>
      <h6><a href="https://vedelopment.github.io/">Portfolio</a></h6>
      <h6><a href="https://github.com/vedelopment">GitHub</a></h6>
      <br>
      <h6><b>Bio:</b></h6>
      <p class="dev-box-text">I am a web developer who specializes in front-end and who also cares a lot about design and user experience. With a decade of experience as a music producer, engineer and studio tech, working with rotating teams of inspired people and troubleshooting technical issues are strengths I bring to my current development work.
      </p>
      <br>
      <h6><b>Technologies:</b></h6>
      <p>HTML5, CSS, Javascript, Materialize, jQuery, Responsive Design, Node.js, Express, MongoDB, Mongoose, MVC Patterns, Angular, RESTful Routing/APIs, Testing</p>

    </div>
  </div>
  <div class="dev-bio-text assignments">
    <img src="/rj.jpeg" alt="" class="about-pic">
    <div>
      <h5>Ryan Johnson</h5>
      <h6><a href="https://www.johnsonrl.com">Portfolio</a></h6>
      <h6><a href="https://github.com/johnson-rl">GitHub</a></h6>
      <br>
      <h6><b>Bio:</b></h6>
      <p>I am tenacious programmer with a keen eye for writing efficient and elegant javascript, a tireless and enthusiastic passion for solving problems, and an obsession with detail. An entrepreneur at heart, constantly looking to make the world better, more efficient, and full of joy.</p>

      <h6><b>Technologies:</b></h6>
      <p>- Javascript, JQuery, Angular, Node.js, MongoDB, Mongoose, Express</p>
    </div>
  </div>
</div>
