/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */
 @import "materialize";
body {
  /*background-color: #F6F6F6;*/
}
.background {
  background-color: rgba(0,0,0,.25)
}
.assignments {
  box-shadow: 0px 5px 7px 3px rgba(0,0,0,.1),
              0 5px 7px -2px rgba(0,0,0,.12);
  border-radius: .3em;
  /*background-color: rgba(250,250,250,1);*/
  padding: 1em;
}
.feedbacks {
  box-shadow: 0px 5px 7px 3px rgba(0,0,0,.1),
              0 5px 7px -2px rgba(0,0,0,.12);
  border-radius: .3em;
  /*background-color: rgba(250,250,250,1);*/
  padding: 1em;
}
.form-style {
  /*background-color: #F6F6F6;*/
  /*color: black;*/
}

.form-control {
  border: solid 2px lightgrey!important;
}

.form-control:focus {
  border-bottom: none!important;
  box-shadow: none!important;
  text-decoration: none!important;
  border: solid 2px #FBD334!important;
}
.form-submit-style {
  background-color: #FA4542!important;
}

.form-style h4 {
  text-align: center;
}
#navbar {
  background-color: #000000;
}

#navbar li :hover {
  background-color: #FA4542;
}
.profile-style {
  border: solid rgba(18,87,159,.75);
  background-color: rgba(18,87,159,.2);
}
.side-assignment-style {
  background-color: lightgrey;
  border: solid grey;
}
.teacher-button-style {
  background-color: #FA4542!important;
}

.mike p {
  visibility:hidden;
}

.mike:hover p {
  visibility: visible;
}

.profile_image {
  height: 200px;
  display: block;
position: relative;

border-color: white;
border-width: 25px;
-moz-border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
border-style: solid;
margin: 0 auto;

}
