/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */
 @import "materialize";

body {
  background-color: #F5F1E5
}

.background {
  background-color: rgba(0,0,0,.25)
}

.assignments {
  border: solid rgba(18,87,159,.75);
  background-color: rgba(18,87,159,.2);
}

.form-style {
  border: solid lightgrey;
  background-color: rgba(18,87,159,.75);
  color: white;
}

.form-style h4 {
  text-align: center;
}

.form-submit-style {
  background-color: #12579F!important;
}

#navbar {
  background-color: #12579F;
}

.profile-style {
  border: solid rgba(18,87,159,.75);
  background-color: rgba(18,87,159,.2);
}

.side-assignment-style {
  background-color: lightgrey;
  border: solid grey;
}

.teacher-button-style {
  background-color: #FF0700!important;
}
